@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    width: 450px;
    border: 20px solid rgb(205, 231, 243);
    border-radius: 60px;
    padding: 15px 35px;
    margin : 25px auto

}



img{
    width: 100%;
    align-self: center;
    border-radius: 40px;
}


h1{
    text-decoration-color: red;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted rgb(128, 128, 128);
    padding: 5px 0;


}
ul{

    font-family: "Quicksand", sans-serif;

    text-align: left;

}
p{
    font-family: "Quicksand", sans-serif;
    text-align: left;

}




