@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

h1{
    color: aliceblue;

}


h6{
    color: navy;
    font-family: "Quicksand", sans-serif;
}

p{
    color: blue;
    font-family: "Quicksand", sans-serif;

}   
